#ContenedorRegistro{
    width: 500px;
    height: 300px;
	margin:auto;
	padding-top:25px;
}
.cuadrotitulo{
	font-size:25px;
	width:500px;
	height:35px;
	text-align:center;
	padding:15px;
	background-color:#2cc3fc;
	color:white;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}
.inputText{
	width:200px;
	height:30px;
	text-align:center;
	float:left;
	margin-left:30px;
	margin-top:25px;
}
.inputPassword{
	width:250px;
	height:30px;
	text-align:center;
	float:left;
	margin-left:115px;
	margin-top:25px;
}
.inputREPPassword{
	width:250px;
	height:30px;
	text-align:center;
	float:left;
	margin-left:115px;
	margin-top:25px;
	margin-bottom:50px;
}
.inputCorreo{
	width:250px;
	height:30px;
	text-align:center;
	float:left;
	margin-left:115px;
	margin-top:25px;
}
.Botones{
    width: 310px;
    height: 30px;
	margin-left:189px;
}
.botonRegUsuario{
	width:150px;
	height:30px;
	background-color:#2cc3fc;
	margin-left:4px;
}
.botonRegUsuario:hover{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
background-color:chartreuse;
}
.botonCanRegistro{
	width:150px;
	height:30px;
	background-color:#2cc3fc;
}
.botonCanRegistro:hover{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
background-color:red;
color:white;
}