#ContenedorGeneral{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-color: white;

}
.inputText{

}
.inputPassword{

}
.inputCorreo{

}
.botones{

}
.botones:hover{
    
}