
@font-face {
    font-family: 'fippsregular';
    src: url('Visuals/Font/fipps-regular-webfont.woff2') format('woff2'),
         url('Visuals/Font/fipps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.centervid { margin: 0 5%; width: 90%; }

.hed{
    
    background-color: #2cc3fc;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    padding-left: 15%;
    position: fixed;
}

.body{
   
background-size: cover;
background-color: #def9ff;
    
}

.bod{
    

    width: 70%;
    height: relative;
    min-height: 100%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.cuadro{
    

    width: 60%;
    background-color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

.fut{
    
    background-color: #2cc3fc;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
}

.bodydiv{
   
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;  
}

.logo{
    
    float: left;
    height: 50px;
}

.opciobutton {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p, pre, a, h1, h2, h3, h4, h5, h6, li, tr{ /*  Para p  */

    color: darkblue;
    font-family: "Helvetica";
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: none;
}



p,h1,h2,h3,h4{
    
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

h2{font-size: 25px; 
    letter-spacing: 2px;    
}

h3{font-size: 20px; 
    letter-spacing: 1px;    
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  font-family: "Helvetica";
  text-align: center;
  padding-left: 17px;
  text-decoration: none;
}

li a:hover {
color: darkblue;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

td a:hover {
color: darkblue;
text-decoration: none;
}